
@{
    ViewData["Title"] = "Delete Application";
}
@model ApplicationResponse

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete @Model.MovieTitle from your collection?</h3>

<form method="post" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="ViewCollection" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="MovieId" />
</form>